.certification__bg
    .wrapper
        section.certification
            h2.certification__h2 Сертификация товара
            .certification__content
                .certification__img
                .certification__text
                    .certification__block
                        .certification__icon
                        h3.certification__h3 Соответствуют всем нормам и требованиям правил ГИБДД
                    .certification__p Наши кресла производятся в г. Георгиевске (Ставропольский край), сертифицированны и разрешены к использованию по всей России.
                    .certification__p Кресло весит всего 700 грамм, его можно носить с собой и установить в любое авто.
                    .certification__p Стирать кресло можно при температуре 30 градусов.