.wrapper
    section.count
        .count__block
            h3.count__h3 8
            p.count__p лет на рынке
        .count__block
            h3.count__h3 21 645
            p.count__p кресел продано
        .count__block
            h3.count__h3 1 254
            p.count__p что то сделано
        .count__block
            h3.count__h3 45
            p.count__p заказов в день