.wrapper
    section.description
        .description__blocks
            .description__block
                .description__h3.description__h3_right Крепкие ремни
                .description__p.description__p_right Тесьма ременная имеет плотную структуру и выдерживает большие нагрузки.
            .description__block
                .description__h3 Безопасные материалы
                .description__p. 
                    При пошиве используется ткань "Оксфорд", сетка Air-mesh 3-х слойная, поролон, спанбонд,
                    халлофайбер.
                    Все материалы экологически чистые, сертифицированы.
        .description__blocks
            .description__block
                .description__h3.description__h3_right Удобная установка
                .description__p.description__p_right. 
                    Достаточно продеть штатный ремень безопасности автомобиля, через специальный карман устройства
                    "ВИННИ" и застегнуть в замок.
            .description__block
                .description__h3 Прочные крепления
                .description__p. 
                    Устройство ВИННИ" имеет пятиточечную систему крепления. Пряжки производят из высокопрочных
                    пластиков, имеющих хорошие показатели упругости.
        .description__img
        .description__arrow.description__arrow-1(style="background: url(./img/description_arrow-1.svg) center / contain no-repeat;")
        .description__arrow.description__arrow-2(style="background: url(./img/description_arrow-2.svg) center / contain no-repeat;")
        .description__arrow.description__arrow-3(style="background: url(./img/description_arrow-3.svg) center / contain no-repeat;")
        .description__arrow.description__arrow-4(style="background: url(./img/description_arrow-4.svg) center / contain no-repeat;")