.wrapper
	section.difference
		.difference__title
			.difference__h3-left Обычное#[br]кресло
			.difference__h3-right Бескаркасное#[br]кресло
		.difference__text
			.difference__text-left
				.difference__p. 
					боковые стенки преграда
					для движений ребенка,
					особенно в зимний период,
					когда много одежды
				.difference__p. 
					необходимо менять
					автокресло по мере
					увеличения веса ребенка
				.difference__p. 
					имеет 5-ти точечную
					фиксацию ребенка
				.difference__p. 
					нужно убирать в багажник,
					при перевозки взрослых
					или каких либо грузов
			.difference__text-right
				.difference__p.
					дает полную безопасную
					свободу ребёнка
					ОСТАВЛЯЕТ СПИНКУ
					СИДЕНИЕ ЧИСТЫМ
				.difference__p.
					подходит 1, 2, 3 группе детей
					(от 9 кг до 36 кг) (от 1 года
					до 12 лет)
				.difference__p.
					имеет 5-ти точечную
					фиксацию ребенка
				.difference__p.
					не мешает при перевозке
					пассажиров или грузов.
					Весит 700 грамм
		.difference__img
		.difference__arrow.difference__arrow-1(style="background: url(./img/difference_1.svg) center / contain no-repeat;")
		.difference__arrow.difference__arrow-2(style="background: url(./img/difference_2.svg) center / contain no-repeat;")
		.difference__arrow.difference__arrow-3(style="background: url(./img/difference_3.svg) center / contain no-repeat;")
		.difference__arrow.difference__arrow-4(style="background: url(./img/difference_4.svg) center / contain no-repeat;")
		.difference__arrow.difference__arrow-5(style="background: url(./img/difference_5.svg) center / contain no-repeat;")
		.difference__arrow.difference__arrow-6(style="background: url(./img/difference_6.svg) center / contain no-repeat;")
		.difference__arrow.difference__arrow-7(style="background: url(./img/difference_7.svg) center / contain no-repeat;")
		.difference__arrow.difference__arrow-8(style="background: url(./img/difference_8.svg) center / contain no-repeat;")