.discount__bg
    .wrapper
        section.discount
            .discount__up
                .discount__text
                    h3.discount__h3 Скидка 28%
                    h4.discount__h4 и бесплатная доставка
                    p.discount__p #[img(src="./img/иконка.svg" alt="")] в подарок!
            .circle.discount__circle
                .circle-up.discount__circle-up 2 545 р.
                .circle-middle.discount__circle-middle
                .circle-down.discount__circle-down 1 850 р.
            .discount__arrow
            .discount__down
                .discount__card.card-discount
                    .card-discount__text
                        p.card-discount__p Акция #[br] только до:
                        span.card-discount__img 4
                        p.card-discount__p декабря!
                    button.card-discount__button ЗАКАЗАТЬ