.wrapper
    section.main
        h2.main__h2 Почему именно бескаркасные кресла?
        .main__arrow(style='background: url(./img/arrow.svg) center / contain no-repeat')
        .main__block    
            .main__text
                h3.main__h3 Оставляет ваш салон свободным
                p.main__p Бескаркаcное автокресло «Смайл» можно не снимать во время перевозки взрослого или груза. Кресло весит всего 700 грамм и установить его можно в любой автомобиль.
            .main__img(style='background: url(./img/1-3.png) center / contain no-repeat')
        .main__arrow(style='background: url(./img/arrrow_right.svg) center / contain no-repeat')
        .main__block
            .main__img(style='background: url(./img/1-2.png) center / contain no-repeat')
            .main__text.main__text_right    
                h3.main__h3 Подходит к большинству групп детей
                p.main__p Автокресло рассчитано на возраст от 1 года до 12 лет (от 9 кг до 36 кг) Имеет пятиточную фиксацию ребенка, как в гоночном автомобиле.
        .main__arrow(style="background: url(./img/arrow.svg) center / contain no-repeat")
        .main__block
            .main__text
                h3.main__h3 Отечественный производитель
                p.main__p Автокресла производят в г. Георгиевске (Ставропольский край), соответсвуют нормам ГИБДД и разрешены к использованию по всей территории РФ, о чем говорит сертификат соответствия.
            .main__img(style="background: url(./img/1-4.png) center / contain no-repeat")